<h1>Show Link</h1>

<ul>
  <li>
    <strong>Your long URL:</strong>
    <%= @link.original_url %>
  </li>

  <li>
    <strong>Short URL:</strong>
    <%= UrlShortenerWeb.Endpoint.url() <> "/" <> @link.url_alias %>
  </li>
</ul>

<span><%= link "Shorten another URL", to: Routes.link_path(@conn, :new) %></span>
